/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fefefe;
    border-top: 80px solid #44B78B;
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 40px;
    display: block;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

thead, tfoot {
    background: #C9F0DD;
}

td, th {
    padding: 15px 10px;
    text-align: left;
}

.align-center {
    text-align: center;
}

tfoot td {
    text-align: right;
}

.new-incidents {
  margin-bottom: 50px;
}

.new-incidents form {
  display: none;
}

.new-incidents .status-line + form {
  display: block;
  text-align: right;
  margin-top: 30px;
}

.new-incidents .status-line {
  display: flex;
}

.new-incidents .status-line > div {
  flex: 1;
}

.new-incidents .status-line > small {
  color: #666;
}
